.App {
  text-align: center;
}

header {
  border: 2px solid red ;
  margin: calc(1em + 1vw);

}

.album-list{
  border: 2px solid gold;
  margin: calc(1em + 1vw);
}

.album{
  border: 2px solid grey;
  margin: 1em;
}

.add-album{
  border: 2px solid grey;
  margin: 1em;
}